.inventory-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

.inv-title {
    position: relative;
    text-align: center;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    padding: 20px;
    justify-items: center;
  }
  
  .portrait {
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 12px;
    transition: 0.3s;
    width: 150px;
    height: 200px;
  }
  
  .portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(0.3);
  }
  
  .portrait:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-width: 2px;
  }

  .portrait.owned img {
    filter: brightness(1);
  }
  
  .name {
    display: block;
    margin-top: 8px;
    font-size: 0.9rem;
  }
  